body {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #511D43;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #4e5d4f;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #fdfdfd;
}

form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    height: 30vh;
    line-height: 1.5rem;
}

button {
    background-color: #DC2525;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #901E3E;
}